@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--color1a1: #04F1C2;
	--color1a2: #03CEA4;

	--color2a1: #A182B0;
	--color2a2: #79568A;
	--color2a2bg: #EDE7EF;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: black;
}

.App {
	min-height: 60vh;
}

.Logo,
.Logo>img {
	height: 8vh;
}

.NavButton>button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 0.5em;
	background-color: var(--color1a1);
	transition-duration: 150ms;
	font-size: 1.1em;
	padding: 0.6em 1.2em;
	border: 3px solid black;
	box-shadow: 5px 5px 0 black;
	color: black;
}

.NavButton>button>img {
	width: 20px;
}

.NavButton:hover>button {
	background-color: var(--color1a2);
	box-shadow: 0 0 0 black;
}

.NavButton>.ButtonDisabled {
	background-color: rgb(139, 139, 139);
	box-shadow: none;
	cursor: not-allowed;
}

.NavButton>.ButtonDisabled:hover {
	background-color: rgb(139, 139, 139);
}

.Header>*:last-child {
	margin-left: auto;
}

.Header {
	position: sticky;
	top: 0;
	width: 98%;
	padding: 1vh 1%;
	height: calc(8vh - 3px);
	border-bottom: 3px solid black;
	display: flex;
	align-items: center;
	gap: 2vw;
	background-color: var(--color2a2bg);
}

.LoginPage {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2vh;
	background: linear-gradient(45deg, #A182B065 0%, white 50%, #A182B065 100%);
}

.LoginPage>.LoginPageMain {
	margin-top: 10vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 2vh;
}

.LoginPage>.LoginPageMain>h1 {
	margin: 5vh 0;
	text-align: center;
	font-size: 4em;
}

.LoginPage>.LoginPageMain>input {
	border: none;
	background-color: rgb(202, 202, 202);
	padding: 0.5em 1em;
	font-size: 1.2em;
	width: 15em;
	border-radius: 0px;
}

.LoginPage>.LoginPageMain>input:focus {
	outline: 2px solid black;
}

.Footer {
	width: 80%;
	padding: 5vh 10%;
	min-height: 20vh;
	background-color: black;
	color: white;
	position: relative;
	bottom: 0;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3vh;
}

.Calling {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.User {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color2a2);
	color: white;
}

.UserName {
	text-align: center;
	word-break: break-all;
	font-size: 2em;
	padding: 1em;
}

.User>a {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 2em;
	padding-left: 0;
}

.User>a>div {
	color: white;
	font-size: 1.8em;
	white-space: nowrap;
	text-align: center;
}

.CallingHeader>h2,
.Calling>h2 {
	font-size: 2em;
	text-align: center;
	text-align: center;
	flex-grow: 1;
}

.CallingHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.CallButton {
	display: none;
}

.CallButton>button {
	cursor: pointer;
	border: none;
	background-color: var(--color2a1);
	transition-duration: 150ms;
	font-size: 1.6em;
	padding: 0.6em 1.2em;
	border: 3px solid white;
	box-shadow: 5px 5px 0 white;
	color: white;
}

.CallButton:hover>button {
	background-color: var(--color2a2);
	box-shadow: 0 0 0 white;
}

.CallingEnd {
	display: flex;
	position: sticky;
	top: 14vh;
	align-content: center;
	justify-content: center;
	margin-top: 2em;
	width: 100%;
	gap: 5%;
}

.CallingEnd>.NavButton {
	display: flex;
	justify-content: center;
	align-items: center;
}

.CallingEnd>.NavButton>button {
	font-weight: bold;
	letter-spacing: 0.1em;
	flex-grow: 1;
}

.Script {
	font-size: 1em;
	padding: 2em;
	line-height: 1.5em;
}

.E404 {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	height: 60vh;
}

.E404>h1 {
	text-align: center;
	font-size: 3em;
	padding: 0 2em;
}

.ButtonIcon {
	width: 14px;
}