@media only screen and (orientation: portrait) {
	.NavButton {
		font-size: 2em;
	}

	.Calling {
		zoom: 1;
		flex-direction: row;
		justify-content: space-between;
	}

	.UserStats {
		flex-direction: row;
	}

	.User {
		flex-direction: row;
	}

	.CallButton {
		display: block;
	}

	.CallButton>button {
		box-shadow: none;
	}

	.NavButton>button {
		box-shadow: none;
	}

	.Footer>div {
		font-size: 2em;
	}

	.Script {
		font-size: 2.5em;
	}

	.LoginPageMain>input,
	.LoginPageMain>select {
		font-size: 2em;
		width: 15em;
	}
}